@font-face {
	font-family: Cantarell-Regular;
	src: url("Fonts/Cantarell-Regular.ttf") format("truetype");
}

body {
	font-family: Cantarell-Regular;
	margin: 0;
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: background-color 0.3s ease, color 0.3s ease;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 50px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	transition: background-color 0.3s ease, box-shadow 0.3s ease;
	height: 100%;
	width: 100%;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 40px;
}

.header h1 {
	font-size: 36px;
	font-weight: bold;
	color: #1da1f2;
	margin-right: 10px;
}

.nav-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	border-radius: 5px;
	background-color: #fff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	margin-bottom: 40px;
	transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.nav-bar a {
	text-decoration: none;
	color: #1da1f2;
	font-weight: bold;
	transition: color 0.3s ease;
}

.nav-bar a:hover {
	color: #1774a7;
}

.search-input {
	display: flex;
	align-items: center;
	margin-right: 10px;
}

.search-input input[type="text"] {
	padding: 12px;
	font-size: 20px;
	border: none;
	border-radius: 5px 0 0 5px;
	background-color: #f5f8fa;
	color: #333;
	width: 400px;
	transition: background-color 0.3s ease, color 0.3s ease;
}

.search-input button {
	padding: 12px;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.search-input button img {
	width: 24px;
	height: 24px;
	object-fit: contain;
}

.logout-container {
	margin-left: auto;
}

.logout-button {
	padding: 10px 20px;
	border: none;
	font-size: 16px;
	font-weight: bold;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	position: relative;
	right: 0px;
}

.logout-button:hover {
	background-color: #1da1f2;
}

.mode-toggle-container {
	display: flex;
	align-items: center;
}

.mode-indicator {
	font-size: 14px;
	margin-right: 10px;
	color: #999;
	transition: color 0.3s ease;
}

.mode-toggle {
	position: relative;
	width: 60px;
	height: 30px;
	background-color: #ccc;
	border-radius: 15px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.mode-toggle::before {
	content: "";
	position: absolute;
	top: 2px;
	left: 2px;
	width: 26px;
	height: 26px;
	border-radius: 50%;
	background-color: #fff;
	transition: transform 0.3s ease;
}

.mode-toggle.dark-mode {
	background-color: #555;
}

.mode-toggle.dark-mode::before {
	transform: translateX(30px);
}

/* Mode sombre */
body.dark-mode {
	background-color: #222;
	color: #fff;
}

.container.dark-mode {
	background-color: #333;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.header.dark-mode h1 {
	color: #1da1f2;
}

.nav-bar.dark-mode {
	background-color: #1da1f2;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.nav-bar.dark-mode a {
	color: #fff;
}

.search-input.dark-mode input[type="text"] {
	background-color: #444;
	color: #fff;
}

.search-input.dark-mode button img {
	filter: invert(1);
}

.mode-toggle.dark-mode {
	background-color: #888;
}

.mode-toggle.dark-mode::before {
	transform: translateX(30px);
}

.mode-indicator.dark-mode {
	color: #fff;
}

body.dark-mode {
	color: #fff;
}

.container.dark-mode {
	color: #fff;
}

.header.dark-mode h1 {
	color: #1da1f2;
}

.nav-bar.dark-mode a {
	color: #fff;
}

.search-input.dark-mode input[type="text"] {
	color: #fff;
}

.message {
	display: grid;
	border: 3px solid #ffffff;
	border-radius: 15px;
	padding: 10px;
	margin-bottom: 10px;
	background-color: whitesmoke;
}

.message-header {
	display: flex;
	align-items: center;
	margin-bottom: 5px;
	color: #999;
	font-size: larger;
}

.avatar {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-right: 10px;
	border-color: #999;
}

.username {
	margin: 0;
	color: #d3b9cc;
	font-family: "Cantarell-Regular";
	font-size: medium;
}

.timestamp {
	margin-left: auto;
	color: #999;
}

.message-content {
	margin-top: 5px;
	color: #999;
	max-height: 3em;
	overflow: hidden;
}

.see-more {
	position: relative;
	padding: 5px 10px;
	background-color: #f2f2f2;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

/* Responsive */
@media screen and (max-width: 768px) {
	.container {
		padding: 20px;
	}

	.header h1 {
		font-size: 32px;
	}

	.nav-bar {
		flex-direction: column;
		align-items: flex-start;
		padding: 20px;
	}

	.search-input input[type="text"] {
		width: 100%;
	}
}

.textarea {
	border-radius: 15px;
}
